<section id="contact" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Get In touch</h3>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, maiores.</p>
                <form method="post" action="{% url 'home_app:contact' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Name" id="id_name" name="name">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email" id="id_email" name="email">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                        <textarea class="form-control" placeholder="Message" rows="5" id="id_message"
                            name="message"></textarea>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="mt-2 lead">
            Another contact forms:
        </p>
        {% if contact_email %}
        <p class="lead">{{ contact_email }}</p>
        {% endif %}

        {% if phone %}
        <p class="lead">{{ phone }}</p>
        {% endif %}
    </div>
</section>