{% extends "users/base_users.html" %}
{% block title %}Login{% endblock %}

{% load static %}

{% block content %}

{% include "includes/header.html" %}

<div class="container mt-4 d-flex justify-content-center text-light">
    <div class="col-lg-6">
        <div class="card bg-primary text-center card-form">
            <div class="card-body">
                <h3>User Access</h3>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control form-control-lg" placeholder="Password">
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <input type="submit" value="Login" class="btn btn-outline-light btn-block btn-lg">
                        <a class="btn btn-outline-light btn-block btn-lg" href="{% url 'users_app:register' %}">
                            Register
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}